<!DOCTYPE html>
<html lang="en">
    <head>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
      <meta charset="UTF-6">
      <title></title>
      <style>
              #myCanvas {
                   border: 1px solid red;
              }
              #imgList li:hover{
                   background-color: yellow;
                   cursor: pointer;
              }
      </style>
    </head>
    <body>
        <canvas id="myCanvas" width="500" height="500"></canvas>
<!--        <div class="control">
            색상 선택 :
            <input type="color" id="selectedColor">
            선의 굵기 :
            <select id="lineWidth">
            <option value="1" selected="">1px</option>
            <option value="2">2px</option>
            <option value="3">3px</option>
            <option value="4">4px</option>
            <option value="5">5px</option>
            <option value="6">6px</option>
            <option value="7">7px</option>
            <option value="8">8px</option>
            <option value="9">9px</option>
            <option value="10">10px</option>
            </select>  -->
        <hr>
        <div class="saveBtn">
   <!--     <a href="경로" download><button id="saveBtn">저장</button></a>-->
        </div>
        <button id="saveBtn">저장</button>
        <button id="deleteBtn">지우기</button>

        </div>
    </body>
  <!--  <script src="/static/assets/js/vpix_canvas2.js"></script> -->

    <!--<script src="/static/assets/js/vpix_exam1.js"></script>-->
    <script src="/static/assets/js/vpix_canvas.js"></script>
    <script src="/static/assets/js/vpix_canvas_json.js"></script>

  <!--  <script type="text/javascript" src="../WebProject/assets/json/test.json"></script>-->

</html>

